@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    /* Add this variable for the code block background */
    --code-block-bg: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 96.1%;
    --muted: 217.2 32.6% 17.5%;
    /* Add this variable for the code block background in dark mode */
    --code-block-bg: 217.2 32.6% 17.5%;
  }
}